.about {
  display: flex;
  flex-direction: column; /* Stack symbols and content vertically */
  background-color: black;
  color: white;
  overflow: hidden;
  padding: 2rem;
  box-sizing: border-box;
  margin: 4rem 0; /* Combined margin-top and margin-bottom */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text content */
}

.about-symbols {
  display: flex;
  justify-content: center; /* Center symbols horizontally */
  align-items: center;
  flex-wrap: nowrap; /* Keep symbols side-by-side */
  width: 100%;
  padding: 1rem 0; /* Add padding for spacing */
  box-sizing: border-box;
}

.symbol-item {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content within the item */
  margin: 0 1rem; /* Use margin for spacing */
  text-align: center;
}

.symbol-image {
  width: 40px;
  height: auto;
  margin-right: 0.5rem;
}

.symbol-text {
  font-size: 1rem;
}

.content-container {
  display: flex;
  justify-content: space-between; /* Align text and image side by side */
  width: 100%;
  margin-top: 3rem;
  align-items: center; /* Center content vertically */
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%; /* Adjust width as needed */
  text-align: left; /* Align text to the left */
}

.about-content h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
}

.about-content p {
  width: 100%; /* Full width for consistency */
  flex-grow: 1;
  line-height: 2; /* Increase line-height for better readability */
}

.aboutpic {
  height: 30rem;
  width: auto;
}

.about-pic {
  justify-content: flex-end;
  align-items: center;
  width: 50%; /* Ensure the image stays on the right */
  margin-right: 2rem;
}

.aboutfacebooklogo {
  margin-top: 2rem;
  height: 80px;
  width: 80px;
}

.aboutfacebooklogo:hover {
  transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 768px) {
  .about-symbols {
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
  }

  .symbol-item {
    margin: 0.5rem; /* Adjust margin for smaller screens */
  }
}

@media (max-width: 480px) {
  .content-container {
    flex-direction: column; /* Stack text and image vertically */
    align-items: center; /* Center content horizontally */
  }

  .about-content {
    width: 90%; /*
