/* Default link styles */
.nav-link {
  color: inherit; /* Inherit color from header */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth transition */
  height: 3.2rem;
}

/* Hover styles */
.nav-link:hover {
    z-index: 2000;
  color: rgb(164, 0, 0);
  cursor: pointer;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center; /* Center the .ul container */
  align-items: center;
  width: 100%;
}

.navbar ul {
  list-style: none; /* Remove default list styling */
  margin: 0 auto; /* Center the ul itself */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox for the list */
  justify-content: center; /* Center the nav items */
  align-items: center;
}

.nav-item {
  margin-left: 15px; /* Ensure no right margin */
  padding: 0; /* Remove padding if needed */
}

.nav-item-scrolled {
  color: black;
}

@media (max-width: 768px) {
  .header {
    height: 5rem; /* Adjust header height for smaller screens */
    justify-content: space-between;
  }
  .header-logo {
    max-width: 100px; /* Adjust logo size */
    margin-left: 1rem; /* Move logo towards the top-left corner */
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
  }
  .navbar ul.nav-list {
    display: none; /* Hide the nav items by default */
  }
  .navbar ul.nav-list.show {
    display: flex; /* Show the nav items when the menu is toggled */
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .header {
    height: 4rem; /* Adjust header height for smaller screens */
    justify-content: space-between;
  }
  .header-logo {
    max-width: 80px; /* Adjust logo size */
    margin-left: -1rem; /* Move logo towards the top-left corner */
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.1rem 0;
    margin-left: -2rem;

  }
  .navbar a, .nav-link {
    padding: 0rem; /* Adjust padding for smaller screens */
    font-size: 0.5rem; /* Adjust font size for smaller screens */
  }

  /* Ensure that the content doesn't overflow */
  .content, .content-container, .review-slides, .review-box {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .review-box {
    width: 90%; /* Adjust width to fit the screen */
    margin: 0 auto; /* Center the review box */
  }
}

@media (min-width: 769px) {
  .navbar {
    flex-direction: row; /* Display nav items side by side on larger screens */
    justify-content: flex-end; /* Move nav items to the right */
    margin-left: -2rem;
  }
}
