* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content2 {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}


/* pages.css */
.image-container2 {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust this value to increase the height */
  overflow: hidden;
}

.page2img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.overlay-text2 h1 {
    position: absolute;
    align-items: center;
    font-size: 15px;
    left: 50%;
    bottom: 98%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px;

  }

  
  /* Quote button */
  .quote-button2 {
    background-color: rgb(164, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .quote-button2:hover {
    transform: scale(1.1); /* Scale the button to 110% on hover */
    background-color: rgb(164, 0, 0);
  }
  
  /* Container for the text section */
  .aboutp2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .paragrapgp2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    max-width: 100%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .paragrapgp2 {
      font-size: 16px;
      padding: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .paragrapgp2 {
      font-size: 14px;
      padding: 10px;
    }
  }

